In [57]:
import pandas as pd

In [58]:
df=pd.read_json("Premierligue_players_2014_2019.json")
print(df.head())
print(df.columns)
print(df.shape)

   known_id         subject            attribute  \
0   6192014   Sergio Agüero      Manchester City
1   6472014      Harry Kane            Tottenham
2   8022014     Diego Costa              Chelsea
3   8482014  Charlie Austin  Queens Park Rangers
4   4982014  Alexis Sánchez              Arsenal

                                            template           prediction  \
0  In the year {date}, the footballer {player nam...      Manchester City
1  In the year {date}, the footballer {player nam...            Tottenham
2  In the year {date}, the footballer {player nam...              Chelsea
3  In the year {date}, the footballer {player nam...  Queens Park Rangers
4  In the year {date}, the footballer {player nam...              Arsenal

                                              prompt      relation_id
0  In the year 2014, the footballer Sergio Agüero...  played_for_2014
1  In the year 2014, the footballer Harry Kane pl...  played_for_2014
2  In the year 2014, the footballer Diego Costa p...  played_for_2014
3  In the year 2014, the footballer Charlie Austi...  played_for_2014
4  In the year 2014, the footballer Alexis Sánche...  played_for_2014
Index(['known_id', 'subject', 'attribute', 'template', 'prediction', 'prompt',
       'relation_id'],
      dtype='object')
(3140, 7)

In [59]:
df["relation_id"]=df["relation_id"].replace({f'played_for_{i}': i for i in range(2014, 2020)})

In [60]:
df.head()

,known_id,subject,attribute,template,prediction,prompt,relation_id
0,6192014,Sergio Agüero,Manchester City,"In the year {date}, the footballer {player nam...",Manchester City,"In the year 2014, the footballer Sergio Agüero...",2014
1,6472014,Harry Kane,Tottenham,"In the year {date}, the footballer {player nam...",Tottenham,"In the year 2014, the footballer Harry Kane pl...",2014
2,8022014,Diego Costa,Chelsea,"In the year {date}, the footballer {player nam...",Chelsea,"In the year 2014, the footballer Diego Costa p...",2014
3,8482014,Charlie Austin,Queens Park Rangers,"In the year {date}, the footballer {player nam...",Queens Park Rangers,"In the year 2014, the footballer Charlie Austi...",2014
4,4982014,Alexis Sánchez,Arsenal,"In the year {date}, the footballer {player nam...",Arsenal,"In the year 2014, the footballer Alexis Sánche...",2014

In [61]:
df=df[df["relation_id"].isin([2017,2019])]

In [62]:
df = df[~df["attribute"].str.contains(",", regex=False)]
names=df.groupby("subject").size().reset_index(name="count")
names=names[names["count"]>1]
df=df[df["subject"].isin(names["subject"]) & df["relation_id"].isin([2017,2019])]
names=df.groupby("subject")["attribute"].nunique().reset_index(name="distinct_count")
names=names[names["distinct_count"]>1]
df=df[df["subject"].isin(names["subject"])]

In [63]:

miniDf=df[df["subject"].isin(names.sample(10)["subject"])].sort_values(by=["subject","relation_id"])
print(df.shape)
print(miniDf.shape)
miniDf.drop(columns=["known_id","prediction","prompt"], inplace=True)
miniDf.rename(columns={"relation_id":"year"}, inplace=True)
miniDf["template"]=miniDf["template"].str.replace("{player name}","{subject}").str.replace(" {team_title}","").str.replace("{date}","{year}")
miniDf.to_json("Premierligue_players_2017_2019_mini.json", orient="records", lines=True)

(82, 7)
(20, 7)